/packages/RestSharp.105.1.0/lib/net35-client/*.dll
/packages/RestSharp.105.1.0/lib/net35/*.dll
/packages/RestSharp.105.1.0/lib/net4-client/*.dll
/packages/RestSharp.105.1.0/lib/net45-client/*.dll
/packages/RestSharp.105.1.0/lib/net451-client/*.dll
/packages/RestSharp.105.1.0/lib/net451/*.dll
/packages/RestSharp.105.1.0/lib/net452-client/*.dll
/packages/RestSharp.105.1.0/lib/net452/*.dll
/packages/RestSharp.105.1.0/lib/net45/*.dll
/packages/RestSharp.105.1.0/lib/net4/*.dll
/packages/RestSharp.105.1.0/lib/sl4/*.dll
/packages/RestSharp.105.1.0/lib/windowsphone8/*.dll
/PubMed.Explorer.Entities/bin/Debug/*.dll
/PubMed.Explorer.Entities/obj/Debug/*.dll
/PubMed.Explorer.QueryBuilder/bin/Debug/*.dll
/PubMed.Explorer.QueryBuilder/obj/Debug/*.dll
/Pubmed.Explorer.Tests/bin/Debug/*.dll
/Pubmed.Explorer.Tests/obj/Debug/*.dll
